* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B9CFC;
    height: 100vh;
}

.container {
    width: 400px;
    height: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
}

form {
    width: 100%;
    height: 200px;
    /* border: 3px solid red; */
}


.new_password_details,
.confirm_password_details {
    position: relative;
    width: 100%;
    height: 40px;
    /* border: 3px solid blue; */
    margin-bottom: 15px;
    margin-top: 5px;
}

form input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 10px;
    border: none;
    background-color: #1B9CFC;
    font-size: 17px;
    color: white;
}

.show_hide {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    cursor: pointer;
    background-color: green;
    color: white;
    width: 65px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.correct,
.incorrect {
    position: absolute;
    right: 60px;
    top: 0;
    width: 40px;
    height: 40px;
    /* border: 3px solid blue; */
    font-size: 19px;
}

.fa-circle-check,
.fa-square-xmark {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}

.fa-square-xmark {
    color: red;
}

.fa-circle-check {
    color: green;
}

form input:focus {
    /* border: 2px solid green; */
}


.error {
    color: red;
    display: none;
}

.submit {
    margin-top: 5px;
    background-color: red;
    border-radius: 5px;
}

::placeholder {
    color: white;
    font-size: 17px;
}

@media only screen and (max-width: 430px) {
    .container {
        width: 90%;
    }
}