
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #45aaf2;
}

.container{
    width: 300px;
    height: 200px;
    color: white;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.container form input{
    border-radius: 4px;
    padding: 7px;
    height: 40px;
    width: 100%;
    outline: none;
    border: 2px solid red;
}
.container form input:focus{
    border: 2px solid green;
}
.email{
    font-size: 17px;
}
.error{
    font-size: 17px;
    color: red;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 6px;
    width: 300px;
    color: red;
    display: none;
}
.link{
    /* border: 3px solid red; */
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background-color: green;
    border-radius: 4px;
    margin-bottom: 6px;
    width: 300px;
    color: white;
}
.submit{
    font-size: 17px;
    width: 50%;
    outline: none;
    border: none !important;
    background-color: #1291ec;
    color: white;
    border-radius: 5px;
}

.container form{
    /* border: 3px solid red; */
}